/*----------------------------------------
search style

----------------------------------------------------------*/

#searchbox {
    background:#d02aa3; color:#ffffff;
    border: 1px solid #fff;
    margin-top: 50px;
    height: 30px;
    width: 600px;
    padding: 10px;
    float: right;
    font-size: 26px;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;

    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 200px;
}

    #searchbox:hover {
        border: 1px solid #000;
    }

    #searchbox:focus {
        border: 1px solid #000;
        outline: 0;
    }

.searchItem {
    height: 50px;
    padding: 10px;
    background-color: #fff;
    text-align: left;
}

.ui-menu-item {
    background: inherit !important;
}

.ui-state-focus {
    background-color: rgba(0, 140, 186, 0.3) !important;
    border: 0 !important;
    color: #000 !important;
    margin: 0px !important;
}

.contactImage {
    height: 50px;
}

.contactImageDiv {
    height: 50px;
    width: 50px;
    overflow: hidden;
    float: left;
}

.nameDiv {
    display: inline-block;
    padding-left: 5px;
}
/*----------------------------------------
GLOBALS CLASSES
----------------------------------------------------------*/

*{ margin:0; padding:0; font-family: 'Pontano Sans', sans-serif;}
body { background:#f1f1f1;}

p {font-family: 'Pontano Sans', sans-serif; color:#939191; font-size:14px;}
a { text-decoration:none; color:#00c0ff;}
a:hover { text-decoration:none; color:#dd31ae;}
ul li { list-style:none; outline:none;}
img { border:none; }
img { border:none;}
h1 { font-family: 'Oswald', sans-serif; color:#45303f; font-size:22px; font-weight:normal;text-transform:uppercase;}

/*-------------------------------------------------
CSS TWEAKS
-------------------------------------------------*/
.clearing { clear:both;}
.fltLeft { float:left;}
.flrRight { float:right;}
.marLeft30 { margin-left:30px;}
.marRight30 { margin-right:30px;}
.marginTop { margin-top:30px;}
.marginBottom { margin-bottom:60px;}
.padTop { padding-top:20px;}
.padBottom { padding-bottom:20px;}
.wid960{ width:960px !important; }

/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/

.panel { background:#ffffff; border:1px solid #ebebeb; overflow:hidden; height:auto;}
.title {}
.content { overflow:hidden; font-size:14px;}
.button-link{ }
.button-link a{ font-family: 'Oswald', sans-serif; text-transform:uppercase;}

/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/

.header-wrap { width:100%; overflow:hidden; background:#00c0ff;}
.header { width:960px; overflow:hidden; margin:0 auto;}

.menu { float:left; width:505px;}
.menu ul li { float:left; width:100px; margin-right:1px;}
.menu ul li a { display:block; width:100px; height:80px; line-height:80px; text-align:center; color:#ffffff; background:#1ac6ff;}
.menu ul li a:hover { background:#33cdff;} 
.menu ul li a.active { background:#33cdff;} 

.social-media { float:right; height:80px;}
.social-media ul li { float:left; margin-right:10px; padding-top:25px;}

.logo-sarch-wrap { width:100%; overflow:hidden; background:#dd31ae;}
.logo-search-container { width:960px; margin:0 auto; height:140px;}
.logo { float:left; width:500px; height:140px; line-height:140px;}
.logo h1 { color:#ffffff; font-size:36px; text-transform:uppercase; font-weight:normal;}

.search { float:right; width:280px; margin-top:50px;}
.search-input { float:right; width:220px;}
.search-button { float:left;}
.search-text-field { width:220px; border:0px solid ; background:#d02aa3; color:#ffffff; height:40px; line-height:40px; padding-left:10px;}

/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/

.banner-wrap { width:1000px; margin:0 auto; overflow:hidden; height:auto; margin-top:30px;}
.banner-left { float:left; width:20px;}
.bannre-right { float:left; width:20px;}
.banner { float:left; width:920px; padding:20px; overflow:hidden; background:#ffffff;}
.banner-image { margin:0 auto; background:url(../images/banner-bg.gif) no-repeat; height:381px; text-align:right;}
.banner-data { margin-top:100px; float:right; position:relative; width:500px;}
.caption1  h1 { padding:10px; background:#00c0ff; font-size:22px; font-weight:normal; color:#ffffff;text-transform:uppercase; display:inline-block;}
.caption2  h2 { padding:10px; background:#dd31ae; font-size:18px; font-weight:normal; color:#ffffff;  text-transform:uppercase;display:inline-block;  font-family: 'Oswald', sans-serif; }
.caption3 { padding:10px; background:#45303f; font-size:16px; font-weight:normal; color:#ffffff; display:inline-block;}

/*-------------------------------------------------
4 PANELS CLASSS
-------------------------------------------------*/

.panel-wrapper { width:960px; margin:0 auto; overflow:hidden; margin-top:30px;}
.panel-wrapper .panel { float:left; width:403px; padding:30px; margin-bottom:30px;}
.panel-wrapper .title { padding-bottom:20px;}
.panel-wrapper .title img { float:left; margin-right:20px;}
.panel-wrapper .content p { padding-left:60px;}
.panel-wrapper .content a { background:#dd31ae; color:#ffffff; }
.panel-wrapper .content a:hover { background:#00c0ff; color:#ffffff;}
.panel-wrapper .button-link{padding-left:60px; padding-top:20px;}

/*-------------------------------------------------
LAYOUT CLASSS
-------------------------------------------------*/
.page-wrapper { width:100%; margin:0 auto; overflow:hidden;display: inline; }
.primary-content { float:left; width:60%; overflow:visible;margin-left: 5%;}
.sidebar { float:right; width:30%; overflow:hidden;display: inline;}

/*-------------------------------------------------
PRIMARY CONTENT CLASSS
-------------------------------------------------*/

.primary-content .panel { margin-top: 20px; padding:30px;}
.primary-content .title { width:100%;}
.primary-content .title h1 { padding-bottom:10px;}
.primary-content .title h2{ background:#dd31ae; height:40px; line-height:40px; color:#ffffff; font-weight:normal; font-size:20px; padding-left:10px;  margin-bottom:20px;}
.primary-content .content img{ float:left; margin-right:30px; }
.primary-content .content p{ padding-bottom:20px;}
.primary-content .content h3 { font-size:16px; color:#dd31ae; padding-bottom:10px;}
.primary-content .button-link{padding-top:20px;}
.primary-content .button-link a { display:block; width:90px; height:36px; line-height:36px; text-align:center; background:#00c0ff; color:#ffffff; font-size:12px; margin-left:30px; margin-top:20px;}

.generic-content { overflow:hidden; width:900px; padding:30px; background:#ffffff; margin-top:30px;}
.generic-content { overflow:hidden; width:900px; padding:30px; background:#ffffff; margin-top:30px;}
.generic-content .title h2{ font-size:16px; font-weight:normal; color:#b6b6b6; padding-bottom:20px; border-bottom:1px solid #ebebeb; margin-bottom:30px; padding-top:10px;}

.portfolio { overflow:hidden; width:100%; padding:30px; background:#ffffff; margin-top:30px;}
.portfolio .title h2{ font-size:16px; font-weight:normal; color:#b6b6b6; padding-bottom:20px; border-bottom:1px solid #ebebeb; margin-bottom:30px; padding-top:10px;}
.portfolio .panel { width:280px; border:none;  background:#f5f5f5; float:left; margin-bottom:30px;}
.portfolio .panel .content { padding:10px; padding-bottom:20px;}
.portfolio .panel .content p{ padding-bottom:10px;}
.portfolio .panel .content p span{ padding-bottom:10px; border-bottom: 1px solid #dddddd;  color:#dd31ae; display:block;}
.portfolio .panel .content a { color:#ffffff; background:#00c0ff; padding: 0px 6px 0px 6px;  text-transform:uppercase; font-family:'Oswald', sans-serif; font-size:12px;}
.portfolio .panel .content a:hover { background:#dd31ae;}
.portfolio .panel .content img{ padding-bottom:10px;}

/*-------------------------------------------------
SIDEBAR CLASSS
-------------------------------------------------*/

.sidebar .panel { width:298px; padding-bottom:30px;}
.sidebar .title h1 { padding:30px; border-bottom:1px solid #ececec; }
.sidebar .content ul li { display:block; border-bottom:1px solid #ececec;padding-top: 20px;padding-bottom: 20px;}
.sidebar .content ul li p { padding-left:30px; color:#939191; font-size:14px;}
.sidebar .content ul li p:hover {color:#dd31ae;}
.sidebar .content ul li p.active {color:#dd31ae;}
.sidebar .content ul li a { padding-left:30px; color:#939191; font-size:14px;}
.sidebar .content ul li a:hover {color:#dd31ae;}
.sidebar .content ul li a.active {color:#dd31ae;}
.sidebar .panel .profilepic img {margin-left: 50px; margin-top: 30px;}
.sidebar .content ul li.borderNone { border-bottom:none;}

.subscribe {}
.subscribe .button-link a { display:block; width:90px; height:36px; line-height:36px; text-align:center; background:#00c0ff; color:#ffffff; font-size:12px; margin-left:30px; margin-top:20px;}
.subscribe .button-link a:hover { background:#dd31ae;} 
.sidebar-text-field { width:230px; height:40px; line-height:40px; border:0px solid; background:#e6e6e6; padding-left:10px; color:#9b9b9b; margin-left:30px; margin-top:30px;}

.sidebar .call { background:#dd31ae; padding:30px;}
.sidebar .call h1 { color:#ffffff; text-transform:uppercase; font-size:22px; font-weight:normal;}
.sidebar .call h1 span { font-size:18px; padding-left:15px;}

.footer-wrapper { width:100%; background:#00c0ff; overflow:hidden;}
.footer { width:960px; height:100px; line-height:100px; text-align:center; margin:0 auto; color:#ffffff; font-size:14px;}
.footer a { color:#45303f;}
.footer a:hover { color:#ffffff;}

/*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/

.contact-form { background:#f1f1f1; padding:30px; width:440px; float:left;}
.contact-form label {display: block; padding:10px 0 10px 0;}
.contact-form label span {display: block; color:#939191;font-size:14px; float:left; width:80px; text-align:left; padding:5px 20px 0 0;}
.contact-form .input_text {padding:10px 10px;width:320px;background:#ffffff;border:0px solid; color:#939191;}
.contact-form .message{padding:10px 10px;width:320px; background:#ffffff; border:0px solid;overflow:hidden;height:150px; color:#939191; font-size:14px;}
.contact-form .button{padding:4px 7px;background:#00c0ff; color:#ffffff; text-transform:uppercase; font-family:'Oswald', sans-serif;border:0px solid;margin-left:100px;margin-top:20px;}

.address { float:left; width:370px; margin-left:30px;}
.address .panel { border:none; color:#dd31ae}
.address .panel .title h1 {  color:#dd31ae; padding-bottom:10px;}
.address .panel .content p span { color:#dd31ae;}

/*------------------------------------
COMMENT BOX CLASS
--------------------------------------*/
.comment-wrapper {
    margin:10px;
    border:1px solid #e1e1e1;
    height:auto;
    width:auto;
    color: #444;
}
h3.comment-title {
    height:40px;
    line-height:35px;
    font-size: 14px;
    margin: 0 5px 0 5px;
    color: #444;
    border-bottom: 1px solid #e1e1e1;
}

.comments-list {

    height:auto;
    font-size: 14px;
    margin: 10px 5px 5px 5px;
    color: #444;
}

ul.comments-holder{

    list-style-type: none;
    margin: 0px;
    padding:0px;
    width:auto;
    height:auto;
    overflow:hidden;
}
ul.comments-holder li.comment-holder{
    list-style-type: none;
    background: #fffff5;
    height:auto;
    width:auto;
    margin: 5px 0 5px 0;
    border:1px solid #e1e1e1;
    overflow: hidden;
    position:relative;

}

ul.comments-holder li.comment-holder:hover {
    background: #fff;


}

ul.comments-holder li.comment-holder .user-img{
    float:left;
    height:65px;
    width:65px;
    background: #b6b6b6;
    margin:0 10px 0 0;
}

ul.comments-holder li.comment-holder .user-img img.user-imgpic{
    height:auto;
    width:65px;
    margin:0 0 10px 0;
}

ul.comments-holder li.comment-holder .comment-body{
    width:auto;
}
ul.comments-holder li.comment-holder h3.username-field{
    height:25px;
    line-height: 22px;
    color:#2e5cb8;
    font-size: 17px;
    margin: 0 0 0 10px;
}

ul.comments-holder li.comment-holder .comment-text {
    display:block;
    width:auto;
    font-size: 15px;
    margin:0 10px 10px 75px;
}

ul.comments-holder li.comment-holder:hover .comment-buttons-holder{

    display:block;
}
.comment-buttons-holder {
    display:none;
    position:absolute;
    top: 0px;
    right:0px;
    width:100px;
    height:20px;

}

.comment-buttons-holder ul {

    list-style-type: none;
    width:auto;
    height: auto;
    overflow: hidden;
}

.comment-buttons-holder ul li{
    float:right;
    height:20px;
    width:20px;
    text-align:center;
    line-height: 17px;
    color:#fff;
    background:#2e5cb8;
    cursor:pointer;

}
.comment-buttons-holder ul li:hover{
    color:#444;

}

.comment-insert{
    position:relative;
    height:150px;
    width:auto;
    margin:10px;
    border:1px solid #e1e1e1;
}

.comment-insert h3.chi {
    height:30px;
    width:auto;
    line-height: 27px;
    color:#2e5cb8;
    font-size: 14px;
    margin:0 10px 0 10px;
    border-bottom: 1px solid #e1e1e1;
}
.comment-insert .comment-insert-container{
    margin:4px 10px 4px 10px;
    border: 1px solid #e1e1e1;
    width:auto;
    min-height:102px;
    position:relative;
}

.comment-insert textarea.comment-insert-text {
    position:absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    border: none;
    width:100%;
    height:100%;
    color:#555;
}

.post-button-wrapper{
    position:absolute;
    top:0px;
    right:10px;
    width:60px;
    height:30px;
    line-height: 30px;
    color: #ffffff;;
    background:#436CBF;
    text-align: center;
    cursor:pointer;
}

.post-button-wrapper:hover{
    background: #2e5cc2;
    color:#fff;
}